/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

table {
	font-family: arial, sans-serif;
	/* border-collapse: collapse; */
	width: 100%;
}

td,
tr,
th,
h2 {
	border: 1px solid #dddddd;
	/* padding: 12px; */
	text-align: center;
	/* margin: auto; */
}

.mat-badge-content {
	background: orange;
	color: white;
}
